Repository solop-develop/adempiere-grpc-server, pull requests merged in 2023-08, with the labels that each got.

#399 feat: User Activity.
  src/main/java/org/spin/grpc/service/LogsServiceImplementation.java
  src/main/java/org/spin/log/LogsConvertUtil.java
  src/main/java/org/spin/log/LogsServiceLogic.java
  src/main/proto/base_data_type.proto
  src/main/proto/logs.proto
Labels: enhancement, (UX) User Experience

#400 feat: `Import File Loader` File Preview.
  src/main/java/org/spin/form/import_file_loader/ImportFileLoaderServiceLogic.java
  src/main/proto/import_file_loader.proto
Labels: enhancement, (FRM) Form

#401 feat: ReadOnly Logic on ClientInfo.
  src/main/java/org/spin/base/util/DictionaryUtil.java
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#403 fix: Preview file with contant import format row.
  src/main/java/org/spin/form/import_file_loader/ImportFileLoaderServiceLogic.java
Labels: bug, (FRM) Form

#404 feat: `User Activity` logs with displayed name.
  src/main/java/org/spin/log/LogsConvertUtil.java
  src/main/proto/base_data_type.proto
  src/main/proto/logs.proto
Labels: enhancement, (PRC) Processes, (REC) Records, (RPT) Reports, (WIN) Windows

#407 Fixed error with sorting for workflow logs
  src/main/java/org/spin/grpc/service/LogsServiceImplementation.java
Labels: bug

#408 fix: NPE with get default value as `List` reference inexistent value.
  src/main/java/org/spin/grpc/service/UserInterfaceServiceImplementation.java
Labels: bug, (ULP) UI Lookups, (CIO) Code Improvement or Optimization, (UX) User Experience

#412 fix: Process document with workflow.
  src/main/java/org/spin/base/workflow/WorkflowUtil.java
  src/main/java/org/spin/grpc/service/BusinessDataServiceImplementation.java
  src/main/java/org/spin/grpc/service/WorkflowServiceImplementation.java
Labels: bug, (REC) Records, (WFL) Workflows, (WIN) Windows

#415 fix: Smart Browser Query Criteria with range fields.
  src/main/java/org/spin/base/db/WhereClauseUtil.java
Labels: bug, (REC) Records, (SB) Smart Browser, (UX) User Experience

#417 feat: `Bank Statement Match` form, matched paymends.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchUtil.java
  src/main/java/org/spin/grpc/service/BankStatementMatchServiceImplementation.java
  src/main/proto/bank_statement_match.proto
Labels: enhancement, (REC) Records, (FRM) Form

#418 fix: Run Process/Report with hidden parameters.
  src/main/java/org/spin/grpc/service/BusinessDataServiceImplementation.java
Labels: bug, (PRC) Processes, (REC) Records, (RPT) Reports

#421 feat: `Bank Statement Match` list payments.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchUtil.java
  src/main/java/org/spin/grpc/service/BankStatementMatchServiceImplementation.java
Labels: enhancement, (FRM) Form

#422 feat: Add `Issue` (Request) form user/sales representative avatar.
  src/main/java/org/spin/form/issue_management/IssueManagementConvertUtil.java
  src/main/java/org/spin/grpc/service/IssueManagementServiceImplementation.java
  src/main/proto/issue_management.proto
Labels: enhancement, (CIO) Code Improvement or Optimization, (FRM) Form

#425 feat: `Bank Statement Match` form, process.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchUtil.java
  src/main/java/org/spin/grpc/service/BankStatementMatchServiceImplementation.java
  src/main/proto/bank_statement_match.proto
Labels: enhancement, (FRM) Form

#426 fix: `Bank Statement Match`, remove unused props.
  src/main/proto/bank_statement_match.proto
Labels: bug, (FRM) Form

#427 fix: `Bank Statement Match` empty name.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
Labels: bug, enhancement, (FRM) Form

#428 fix: `Bank Statement Match` form, matches/unmatches records.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchUtil.java
  src/main/proto/bank_statement_match.proto
Labels: bug, (REC) Records, (FRM) Form

#429 fix: Set automatic match.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
Labels: bug, (FRM) Form

#430 feat: `Bank Statenent Match` form, accounting and balance info.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/proto/bank_statement_match.proto
Labels: enhancement, (FRM) Form

#438 fix: List Orders waiting for pay only completed.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
Labels: bug, (POS) Point Of Sales, (FRM) Form

#437 Fix not found column
  src/main/java/org/spin/base/db/WhereClauseUtil.java
Labels: bug, (REC) Records, (WIN) Windows

#440 fix: POS List orders wihtout proposal, and invoice open.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
Labels: bug, (POS) Point Of Sales, (FRM) Form

#441 fix: Issues form with other clients.
  src/main/java/org/spin/form/issue_management/IssueManagementConvertUtil.java
  src/main/java/org/spin/grpc/service/IssueManagementServiceImplementation.java
  src/main/proto/issue_management.proto
Labels: bug, enhancement, (FRM) Form

#442 fix: Filter access records, and active records.
  src/main/java/org/spin/base/dictionary/WindowUtil.java
  src/main/java/org/spin/grpc/logic/GeneralLedgerServiceLogic.java
  src/main/java/org/spin/grpc/service/CoreFunctionalityImplementation.java
  src/main/java/org/spin/grpc/service/ExpressMovementServiceImplementation.java
  src/main/java/org/spin/grpc/service/ExpressReceiptServiceImplementation.java
  src/main/java/org/spin/grpc/service/ExpressShipmentServiceImplementation.java
  src/main/java/org/spin/grpc/service/FileManagementServiceImplementation.java
  src/main/java/org/spin/grpc/service/GeneralLedgerServiceImplementation.java
  src/main/java/org/spin/grpc/service/IssueManagementServiceImplementation.java
  src/main/java/org/spin/grpc/service/MatchPOReceiptInvoiceServiceImplementation.java
  src/main/java/org/spin/grpc/service/MaterialManagementServiceImplementation.java
  src/main/java/org/spin/grpc/service/PaymentPrintExportServiceImplementation.java
  src/main/java/org/spin/grpc/service/TimeControlServiceImplementation.java
  src/main/java/org/spin/grpc/service/TimeRecordServiceImplementation.java
  src/main/java/org/spin/grpc/service/UserCustomizationImplementation.java
  src/main/java/org/spin/grpc/service/UserInterfaceServiceImplementation.java
  src/main/java/org/spin/grpc/service/WorkflowServiceImplementation.java
  src/main/java/org/spin/log/LogsServiceLogic.java
Labels: bug, (REC) Records, (SE) Security

#443 feat: POS List sales orders, closed, voided, is binding offer.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#444 feat: POS List Banks.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/java/org/spin/pos/service/POSServiceLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#445 feat: POS List active `Campaigns`.
  src/main/java/org/spin/base/util/ConvertUtil.java
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/java/org/spin/pos/service/POSServiceLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#446 fix: Callout wiith `isSOTrx` context.
  src/main/java/org/spin/grpc/service/UserInterfaceServiceImplementation.java
Labels: bug, (REC) Records, (WIN) Windows

#448 feat: POS Shipment Line add movement quantity and uom conversion.
  src/main/java/org/spin/base/util/ConvertUtil.java
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#449 fix: Query warehouses with limit and access filter and records.
  src/main/java/org/spin/grpc/service/CoreFunctionalityImplementation.java
Labels: bug, (REC) Records, (SE) Security, (ADC) ADempiere Core

#450 fix: `Bank Statement Match` form list only not `Processed`.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
Labels: bug, (FRM) Form

#451 Fixed error with merge session from two or more users
  src/main/java/org/spin/authentication/AuthorizationServerInterceptor.java
  src/main/java/org/spin/base/util/ServiceContextProvider.java
  src/main/java/org/spin/base/util/SessionManager.java
  src/main/java/org/spin/grpc/service/SecurityServiceImplementation.java
  src/main/java/org/spin/grpc/service/UpdateImplementation.java
  src/main/java/org/spin/pos/service/order/OrderManagement.java
  src/main/java/org/spin/server/AllInOneServices.java
Labels: bug

#453 feat: `Bank Statement Match` filter by bank statement id.
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchServiceLogic.java
  src/main/java/org/spin/form/bank_statement_match/BankStatementMatchUtil.java
  src/main/proto/bank_statement_match.proto
Labels: enhancement, (FRM) Form

#457 feat: POS List `Bank Accounts`.
  src/main/java/org/spin/base/util/ConvertUtil.java
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/java/org/spin/pos/service/POSServiceLogic.java
  src/main/java/org/spin/pos/service/bank/BankManagement.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#461 fix: List bank accounts.
  src/main/java/org/spin/pos/service/POSServiceLogic.java
Labels: bug, (POS) Point Of Sales, (FRM) Form

#462 feat: POS Add id and uuid on `ListCashMovementsResponse`.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#463 feat: Persistent front show/hidden fields.
  src/main/java/org/spin/base/dictionary/DictionaryUtil.java
  src/main/java/org/spin/base/dictionary/custom/BrowseFieldCustomUtil.java
  src/main/java/org/spin/base/dictionary/custom/FieldCustomUtil.java
  src/main/java/org/spin/base/dictionary/custom/ProcessParaCustomUtil.java
  src/main/java/org/spin/grpc/service/DictionaryServiceImplementation.java
  src/main/java/org/spin/grpc/service/UserCustomizationImplementation.java
  src/main/proto/dictionary.proto
  src/main/proto/user_customization.proto
Labels: enhancement, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows, (UX) User Experience

#465 feat: Add routing no on customer bank account.
  src/main/java/org/spin/grpc/service/PointOfSalesServiceImplementation.java
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#470 fix: Cast `Long` as `Integer` and `BigDecimal` with column sql.
  src/main/java/org/spin/base/util/ValueUtil.java
Labels: bug, (REC) Records, (WIN) Windows
