Repository solop-develop/adempiere-grpc-server, pull requests merged in 2025-04, with the labels that each got.

#1095 fix: Gift Card services changes.
  resources/adempiere-grpc-server.pb
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: bug, (POS) Point Of Sales

#1097 feat: Remove deprecated POS methods.
  src/main/java/org/spin/grpc/service/BusinessData.java
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
Labels: enhancement, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1098 fix: Out Bound Order form only active list.
  src/main/java/org/spin/grpc/service/form/out_bound_order/OutBoundOrderLogic.java
Labels: bug, (SE) Security, (FRM) Form

#1099 Validates that weight, volume and M_Freight_ID are not null
  src/main/java/org/spin/grpc/service/form/out_bound_order/OutBoundOrderLogic.java
Labels: bug, (FRM) Form

#1100 feat: Change deprecated `ValueManager.validateNull` to `StringManager.getValidString`.
  src/main/java/org/spin/base/util/GeneralLedgerConvertUtil.java
  src/main/java/org/spin/base/util/UpdateManager.java
  src/main/java/org/spin/dashboarding/DashboardingConvertUtil.java
  src/main/java/org/spin/grpc/service/FileManagement.java
  src/main/java/org/spin/grpc/service/LogsInfo.java
  src/main/java/org/spin/grpc/service/NoticeManagement.java
  src/main/java/org/spin/grpc/service/PaymentPrintExport.java
  src/main/java/org/spin/grpc/service/PreferenceManagement.java
  src/main/java/org/spin/grpc/service/Security.java
  src/main/java/org/spin/grpc/service/SendNotifications.java
  src/main/java/org/spin/grpc/service/TimeControl.java
  src/main/java/org/spin/grpc/service/TimeRecord.java
  src/main/java/org/spin/grpc/service/UpdateManagement.java
  src/main/java/org/spin/grpc/service/UserCustomization.java
  src/main/java/org/spin/grpc/service/WebStore.java
  src/main/java/org/spin/grpc/service/Workflow.java
  src/main/java/org/spin/grpc/service/core_functionality/CoreFunctionalityConvert.java
  src/main/java/org/spin/grpc/service/field/invoice/InvoiceInfoConvert.java
  src/main/java/org/spin/grpc/service/form/ExpressMovement.java
  src/main/java/org/spin/grpc/service/form/ExpressReceipt.java
  src/main/java/org/spin/grpc/service/form/ExpressShipment.java
  src/main/java/org/spin/grpc/service/form/import_file_loader/ImportFileLoaderConvertUtil.java
  src/main/java/org/spin/grpc/service/form/match_po_receipt_invoice/MatchPOReceiptInvoice.java
  src/main/java/org/spin/grpc/service/form/match_po_receipt_invoice/MatchPOReceiptInvoiceUtil.java
  src/main/java/org/spin/grpc/service/form/payroll_action_notice/PayrollActionNotice.java
  src/main/java/org/spin/grpc/service/form/task_management/TaskManagementConvertUtil.java
  src/main/java/org/spin/grpc/service/form/trial_balance_drillable/TrialBalanceDrillableServiceLogic.java
  src/main/java/org/spin/grpc/service/ui/UserInterfaceConvertUtil.java
  src/main/java/org/spin/log/LogsConvertUtil.java
  src/main/java/org/spin/pos/service/bank/BankManagement.java
Labels: (ULB) Update Library, (CIO) Code Improvement or Optimization

#1101 feat: Credentilas support with `.env` file.
  build.gradle
Labels: (CI/CD) Continuous Integration/Continous Delivery, (SE) Security, (ULB) Update Library

#1102 feat: Change descriptor file `.pb` to `.dsc`.
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  build.gradle
  docker/envoy_template.yaml
  docker/grpc_proxy.Dockerfile
  resources/adempiere-grpc-server.dsc
Labels: (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#1103 feat: Add support to docker secrets.
  README.es.md
  README.md
  docker-compose/docker-compose.yml
  docker-compose/secrets/adempiere_db_password.txt
  docker/start.sh
Labels: enhancement, (CI/CD) Continuous Integration/Continous Delivery, (SE) Security, (CIO) Code Improvement or Optimization

#1104 feat: Add discount by payment method.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1105 fixes document status validation for create gift card request
  src/main/java/org/spin/pos/service/POSLogic.java
Labels: bug, (POS) Point Of Sales

#1106 Implements Update, Delete and List GiftCard Line Services
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: bug, (POS) Point Of Sales

#1107 fix: Load orders records by search field.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/base/util/ReferenceInfo.java
  src/main/java/org/spin/base/util/ReferenceUtil.java
  src/main/java/org/spin/grpc/service/field/order/OrderInfoConvert.java
  src/main/java/org/spin/grpc/service/field/order/OrderInfoLogic.java
  src/main/proto/base_data_type.proto
  src/main/proto/field.business_partner.proto
  src/main/proto/field.in_out.proto
  src/main/proto/field.invoice.proto
  src/main/proto/field.order.proto
  src/main/proto/field.payment.proto
  src/main/proto/field.product.proto
  src/main/proto/field.proto
Labels: (PRC) Processes, (ULP) UI Lookups

#1108 GiftCard only create new and set amount
  src/main/java/org/spin/pos/service/POSLogic.java
Labels: enhancement, (POS) Point Of Sales

#1109 Proto POS payment method IsOnline Check and Payment response changes
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/java/org/spin/pos/util/PaymentConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1110 feat: Add `Allocate Payment Id` on create payment.
  resources/adempiere-grpc-server.dsc
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1111 feat: Print Preview to `Gift Card`.
  resources/adempiere-grpc-server.dsc
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1112 feat: Add online payment empty services.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1114 fix: Some report changes.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/ReportManagement.java
  src/main/java/org/spin/log/LogsConvertUtil.java
  src/main/proto/base_data_type.proto
  src/main/proto/point_of_sales.proto
Labels: bug, (RPT) Reports

#1115 Adds service for listing available OrderLines for GiftCard and for RMA
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1117 feat: Update solop libs to `clean-0.1.0`.
  gradle.properties
Labels: enhancement, (ULB) Update Library

#1120 Feat: Add Attributes Payments
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
  src/main/java/org/spin/pos/service/pos/POS.java
  src/main/java/org/spin/pos/util/PaymentConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1122 feat: Improve payment CRUD validations.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
Labels: enhancement, (POS) Point Of Sales

#1123 fix: POS Payment Method Allocation discount.
  src/main/java/org/spin/pos/util/POSConvertUtil.java
Labels: bug, (POS) Point Of Sales

#1124 fix: Online Payment verification.
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
  src/main/java/org/spin/pos/service/order/OrderManagement.java
  src/main/java/org/spin/pos/util/PaymentConvertUtil.java
Labels: bug, (POS) Point Of Sales
