Repository solop-develop/adempiere-grpc-server, pull requests merged in 2025-06, with the labels that each got.

#1148 feat: Add `IsMatched` column to bank statement import.
  src/main/java/org/spin/grpc/service/form/bank_statement_match/BankStatementMatchConvertUtil.java
  src/main/java/org/spin/grpc/service/form/bank_statement_match/BankStatementMatchServiceLogic.java
Labels: enhancement, (FRM) Form

#1149 fix: Consider inactive tabs on window.
  src/main/java/org/spin/base/db/WhereClauseUtil.java
  src/main/java/org/spin/dictionary/util/WindowUtil.java
  src/main/java/org/spin/grpc/service/dictionary/WindowConvertUtil.java
  src/main/java/org/spin/grpc/service/field/field_management/FieldManagementLogic.java
Labels: bug, (WIN) Windows

#1150 Update Solop Libs to 2.0.1
  gradle.properties
Labels: enhancement, (ULB) Update Library

#1152 fix: Smart Browse set table and record id.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/BusinessData.java
  src/main/java/org/spin/grpc/service/UserInterface.java
  src/main/java/org/spin/grpc/service/ui/BrowserLogic.java
  src/main/proto/user_interface.proto
Labels: bug, (PRC) Processes, (REC) Records, (SB) Smart Browser, (WIN) Windows

#1156 fix: Product field with currency on records.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/field/product/ProductInfoConvert.java
  src/main/java/org/spin/grpc/service/field/product/ProductInfoLogic.java
  src/main/proto/field.product.proto
Labels: bug, (ULP) UI Lookups, (UX) User Experience

#1160 feat: POS search EAN into Product Purchase.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
Labels: enhancement, (POS) Point Of Sales, (UX) User Experience

#1162 feat: Implements Cancel Online Payment
  src/main/java/org/spin/pos/service/POSLogic.java
Labels: enhancement, (POS) Point Of Sales

#1163 feat: POS set gift card on payment reference.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/util/PaymentConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: bug, enhancement, (POS) Point Of Sales

#1164 feat: Create automatic `Gift Card` after complete sales order.
  gradle.properties
Labels: enhancement, (ULB) Update Library, (FRM) Form

#1166 fix: Upload resource form parameter field.
  gradle.properties
  src/main/java/org/spin/grpc/service/BusinessData.java
Labels: enhancement, (ULP) UI Lookups, Attachment

#1167 fix: POS List Customer Credits unknow column.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/util/POSConvertUtil.java
Labels: bug, (POS) Point Of Sales

#1168 feat: Add support to save log from payment processor.
  gradle.properties
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
Labels: enhancement, (POS) Point Of Sales

#1169 fix: POS Credit Memo as Payment.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
Labels: bug, (POS) Point Of Sales

#1172 fix: POS Customer Bank accounts.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/bank/BankManagement.java
  src/main/proto/point_of_sales.proto
Labels: bug, (POS) Point Of Sales

#1174 feat: Create `Gift Card` refund after process payment.
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
  src/main/java/org/spin/pos/service/order/OrderManagement.java
  src/main/java/org/spin/pos/util/ColumnsAdded.java
Labels: enhancement, (POS) Point Of Sales

#1178 fix: POS Create/Update sales order validate Cash Closing/Opening.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/order/OrderManagement.java
Labels: bug

#1180 fix: Cash Closing.
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/cash/CashManagement.java
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
Labels: bug, (POS) Point Of Sales

#1181 feat: Add summary to movements.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/util/PaymentConvertUtil.java
  src/main/proto/point_of_sales.proto
Labels: enhancement, (POS) Point Of Sales

#1183 fix: Print cash movement date parameter
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
Labels: bug, (POS) Point Of Sales, (RPT) Reports

#1184 fix: Filter document types on `OutBoundOrder` form.
  src/main/java/org/spin/grpc/service/form/out_bound_order/OutBoundOrderLogic.java
Labels: bug, (FRM) Form

#1185 fix: POS only allocated `Sellers`.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/base/util/ConvertUtil.java
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/java/org/spin/pos/service/seller/SellerConvertUtil.java
  src/main/java/org/spin/pos/service/seller/SellerServiceLogic.java
  src/main/proto/point_of_sales.proto
Labels: bug, (POS) Point Of Sales, (UX) User Experience

#1186 Fixes a validation that did not permit to set payment as Online
  src/main/java/org/spin/pos/service/cash/CollectingManagement.java
Labels: bug, (POS) Point Of Sales

#1188 feat: Update `adempiere-solop` to `2.1.8`.
  gradle.properties
Labels: bug, (ULB) Update Library

#1190 fix: Cash movement ID.
  resources/adempiere-grpc-server.dsc
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
  src/main/proto/point_of_sales.proto
Labels: bug, (POS) Point Of Sales

#1191 fix: `OutBound Order` form validate `Freight` request values.
  src/main/java/org/spin/grpc/service/form/out_bound_order/OutBoundOrderLogic.java
  src/main/java/org/spin/grpc/service/form/out_bound_order/OutBoundOrderService.java
Labels: bug, (FRM) Form

#1192 fix: `Payment Reference` without `Pay Date`.
  src/main/java/org/spin/base/util/ConvertUtil.java
  src/main/java/org/spin/grpc/service/PointOfSalesForm.java
Labels: bug, (POS) Point Of Sales

#1194 fix: Refund `Gift Card` from payment reference.
  src/main/java/org/spin/pos/service/POSLogic.java
  src/main/java/org/spin/pos/service/order/OrderManagement.java
Labels: bug, (POS) Point Of Sales
